.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0; }

.radio-item input[type='radio'] {
  display: none; }

.radio-item label {
  color: #666;
  font-weight: normal; }
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid green;
    background-color: transparent; }

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block; }

.radio-success input[type=radio]:checked + label:after {
  background: green; }

.radio-success label:before {
  border: 2px solid green; }

.radio-warning input[type=radio]:checked + label:after {
  background: orange; }

.radio-warning label:before {
  border: 2px solid orange; }

.radio-danger input[type=radio]:checked + label:after {
  background: red; }

.radio-danger label:before {
  border: 2px solid red; }

.radio-primary input[type=radio]:checked + label:after {
  background: blue; }

.radio-primary label:before {
  border: 2px solid blue; }
